.imglogo {
  width: 5rem;
}

.navbar {
    padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
  background: linear-gradient(134deg, rgba(57,132,244,1) 0%, rgba(12,211,255,1) 27%, rgba(47,124,240,1) 57%, rgba(14,101,232,1) 100%);
  
}

.link{
    padding: 1rem;
    text-decoration: none;
    font-size: 1.3rem;
    color: antiquewhite;
}
